main {
  background-color: rgb(18, 18, 18);
  width: 3000px;
}

.line {
  border-bottom: 1px solid rgb(81, 81, 81);
  border-collapse: separate;
  color: white;
  display: table-cell;
  font-family: Roboto , Helvetica , Arial , sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.011em;
  line-height: 1.43;
  padding: 16px;
  text-align: left;
  vertical-align: inherit;
}

.column {
  color: inherit;
  display: table-row;
  vertical-align: middle;
}
